[submodule "apps/nr1-browser-analyzer"]
	path = apps/nr1-browser-analyzer
	url = https://github.com/newrelic/nr1-browser-analyzer.git
[submodule "apps/nr1-cloud-optimize"]
	path = apps/nr1-cloud-optimize
	url = https://github.com/newrelic/nr1-cloud-optimize
[submodule "apps/nr1-container-explorer"]
	path = apps/nr1-container-explorer
	url = https://github.com/newrelic/nr1-container-explorer.git
[submodule "apps/nr1-datalyzer"]
	path = apps/nr1-datalyzer
	url = https://github.com/newrelic/nr1-datalyzer.git
[submodule "apps/nr1-deployment-analyzer"]
	path = apps/nr1-deployment-analyzer
	url = https://github.com/newrelic/nr1-deployment-analyzer.git
[submodule "apps/nr1-event-stream"]
	path = apps/nr1-event-stream
	url = https://github.com/newrelic/nr1-event-stream.git
[submodule "apps/nr1-github"]
	path = apps/nr1-github
	url = https://github.com/newrelic/nr1-github.git
[submodule "apps/nr1-graphiql-notebook"]
	path = apps/nr1-graphiql-notebook
	url = https://github.com/newrelic/nr1-graphiql-notebook.git
[submodule "apps/nr1-groundskeeper"]
	path = apps/nr1-groundskeeper
	url = https://github.com/newrelic/nr1-groundskeeper.git
[submodule "apps/nr1-neon"]
	path = apps/nr1-neon
	url = https://github.com/newrelic/nr1-neon.git
[submodule "apps/nr1-network-telemetry"]
	path = apps/nr1-network-telemetry
	url = https://github.com/newrelic/nr1-network-telemetry.git
[submodule "apps/nr1-pageview-map"]
	path = apps/nr1-pageview-map
	url = https://github.com/newrelic/nr1-pageview-map.git
[submodule "apps/nr1-slo-r"]
	path = apps/nr1-slo-r
	url = https://github.com/newrelic/nr1-slo-r.git
[submodule "apps/nr1-status-pages"]
	path = apps/nr1-status-pages
	url = https://github.com/newrelic/nr1-status-pages.git
[submodule "apps/nr1-top"]
	path = apps/nr1-top
	url = https://github.com/newrelic/nr1-top.git
[submodule "apps/nr1-workload-geoops"]
	path = apps/nr1-workload-geoops
	url = https://github.com/newrelic/nr1-workload-geoops.git
[submodule "apps/nr1-observability-maps"]
	path = apps/nr1-observability-maps
	url = https://github.com/newrelic/nr1-observability-maps.git
[submodule "apps/nr1-metrics-aggregator"]
	path = apps/nr1-metrics-aggregator
	url = https://github.com/newrelic/nr1-metrics-aggregator.git
[submodule "apps/nr1-account-maturity"]
	path = apps/nr1-account-maturity
	url = https://github.com/newrelic/nr1-account-maturity.git
[submodule "apps/nr1-learn-nrql"]
	path = apps/nr1-learn-nrql
	url = https://github.com/newrelic/nr1-learn-nrql
[submodule "apps/nr1-integrations-manager"]
	path = apps/nr1-integrations-manager
	url = https://github.com/newrelic/nr1-integrations-manager.git
[submodule "apps/nr1-nimbus"]
	path = apps/nr1-nimbus
	url = https://github.com/newrelic/nr1-nimbus.git
[submodule "apps/nr1-tag-improver"]
	path = apps/nr1-tag-improver
	url = https://github.com/newrelic/nr1-tag-improver
[submodule "apps/nr1-quickstarts"]
	path = apps/nr1-quickstarts
	url = https://github.com/newrelic/nr1-quickstarts.git
[submodule "apps/nr1-pathpoint"]
	path = apps/nr1-pathpoint
	url = https://github.com/newrelic/nr1-pathpoint
[submodule "nr1-victory-visualizations"]
	path = nr1-victory-visualizations
	url = https://github.com/newrelic/nr1-victory-visualizations.git
